### 安裝mysql套件

In [12]:
# pip install pymysql

In [13]:
import pymysql
pymysql.__version__

'1.4.6'

### 連接mysql

In [53]:
connect=pymysql.connect(
    user='root',
    password='12345678',
    host='127.0.0.1', # localhost
    database='shop',
    port=3306
)

connect

In [54]:
cursor=connect.cursor()
cursor

### 查詢語法

In [55]:
sqlstr="""
        select * 
        from user 
        where id=1;
       """

cursor.execute(sqlstr)
users=cursor.fetchall()
users

((1,
  None,
  '12345678',
  '123@gmail.com',
  '0987654321',
  '北極圈信義區大象路123號',
  datetime.datetime(2024, 8, 24, 10, 11, 5)),)

### 插入語法

In [26]:
username=input("姓名:")
email=input("Email:")
password=input("密碼:")
phone=input("手機號碼:")
address=input("地址:")

sqlstr=f""" 
    insert into user(username,email,password,phone,address) values('{username}','{email}','{password}','{phone}','{address}');
        """
sqlstr

" \n    insert into user(username,email,password,phone,address) values('qqq','qqq@gmail.com','12345678','0977444333','sadgkhgf');\n        "

In [27]:
try:
    cursor.execute(sqlstr)
    connect.commit()
    print("寫入成功")
except Exception as e:
    print("寫入失敗",e)

### 進行登入

In [19]:
email=input("Email:")
password=input("密碼:")

sqlstr=f"select * from user where email='{email}' and {password}"
sqlstr

"select * from user where email='jjj@gmail.com' and 12345678"

In [20]:
cursor.execute(sqlstr)
user=cursor.fetchone()
user

(6,
 'jjj',
 '12345678',
 'jjj@gmail.com',
 '0977123456',
 'asdasfaddfa',
 datetime.datetime(2024, 8, 24, 11, 55, 49))

In [21]:
if user is not None:
    print("登入成功!")
else:
    print("登入失敗!")

登入成功!

In [28]:
sqlstr="""
        select * 
        from user ;
       """

cursor.execute(sqlstr)
users=cursor.fetchall()
users

((1,
  None,
  '12345678',
  '123@gmail.com',
  '0987654321',
  '北極圈信義區大象路123號',
  datetime.datetime(2024, 8, 24, 10, 11, 5)),
 (2,
  None,
  '12345678',
  'mary@gmail.com',
  '0978222333',
  '',
  datetime.datetime(2024, 8, 24, 10, 35, 26)),
 (4,
  'JJ',
  '12345678',
  'jj@gmail.com',
  '0978111222',
  'rrrrrrr',
  datetime.datetime(2024, 8, 24, 10, 40, 19)),
 (5,
  'vvv',
  '12345678',
  'mary@gma',
  '0978111444',
  '',
  datetime.datetime(2024, 8, 24, 10, 41)),
 (6,
  'jjj',
  '12345678',
  'jjj@gmail.com',
  '0977123456',
  'asdasfaddfa',
  datetime.datetime(2024, 8, 24, 11, 55, 49)),
 (7,
  'abc',
  '12345678',
  'abc@gmail.com',
  '0988333222',
  '123145464646',
  datetime.datetime(2024, 8, 24, 11, 59, 41)),
 (9,
  'qqq',
  '12345678',
  'qqq@gmail.com',
  '0977444333',
  'sadgkhgf',
  datetime.datetime(2024, 8, 24, 12, 2, 13)))

### 建立商品資料表
- id       - int ( AI )
- name     - verchar(100)   - uniqne
- price    - float
- qty      - int            - default:1
- info     -text            - 可以為空

In [30]:
sqlstr="""
        select * 
        from user ;
       """
cursor.execute(sqlstr)
users=cursor.fetchall()
users

((1,
  None,
  '12345678',
  '123@gmail.com',
  '0987654321',
  '北極圈信義區大象路123號',
  datetime.datetime(2024, 8, 24, 10, 11, 5)),
 (2,
  None,
  '12345678',
  'mary@gmail.com',
  '0978222333',
  '',
  datetime.datetime(2024, 8, 24, 10, 35, 26)),
 (4,
  'JJ',
  '12345678',
  'jj@gmail.com',
  '0978111222',
  'rrrrrrr',
  datetime.datetime(2024, 8, 24, 10, 40, 19)),
 (5,
  'vvv',
  '12345678',
  'mary@gma',
  '0978111444',
  '',
  datetime.datetime(2024, 8, 24, 10, 41)),
 (6,
  'jjj',
  '12345678',
  'jjj@gmail.com',
  '0977123456',
  'asdasfaddfa',
  datetime.datetime(2024, 8, 24, 11, 55, 49)),
 (7,
  'abc',
  '12345678',
  'abc@gmail.com',
  '0988333222',
  '123145464646',
  datetime.datetime(2024, 8, 24, 11, 59, 41)),
 (9,
  'qqq',
  '12345678',
  'qqq@gmail.com',
  '0977444333',
  'sadgkhgf',
  datetime.datetime(2024, 8, 24, 12, 2, 13)))

In [110]:
connect.close

In [103]:
connect=pymysql.connect(
    user='root',
    password='12345678',
    host='127.0.0.1', # localhost
    database='item',
    port=3306
)

connect

In [104]:
cursor=connect.cursor()
cursor

In [105]:
def update_item():
        sqlstr="""
                select * 
                from item ;
        """
        cursor.execute(sqlstr)
        items=cursor.fetchall()
        return items

update_item()

((1, 'macbook air', 35000.0, 97, '256ssd 16g', '0000-00-00'),
 (2, 'asus zenbool 14" notebook', 24900.0, 98, '256g 12g', '0000-00-00'),
 (3, 'apple iphone 14 pro', 35900.0, 0, '256g 12', '0000-00-00'),
 (4, 'apple iphone 14 pro max', 42900.0, 98, '512g 16g', '0000-00-00'),
 (5, 'apple iphone 14', 29900.0, 97, '128g 8g', '0000-00-00'))

In [97]:
cart=[]

#print('-'*50)
#for i,item in enumerate(items):
#    print(f"{i+1}.商品名稱:{item[1]} 價格:{item[2]} 數量:{item[3]} 備註:{item[4]}")

while True:
    # 同步更新最新產品
    items=update_item()
    #選單
    print('-'*50)
    for i,item in enumerate(items):
        print(f"{i+1}.商品名稱:{item[1]} 價格:{item[2]} 數量:{item[3]} 備註:{item[4]}")
    print('-'*50)

    choice=int(input("輸入編號(0:exit):"))
    if choice==0:
        break

    # 選項>=1 and <= len(item) 輸入不正確
    if choice<1 or choice>len(items):
        print("輸入不正確")
        continue
    # 紀錄購買商品
    buy_item=items[choice-1]

    # 數量小於1(無庫存)
    if items[choice-1][3] <1:
        print(f"****{buy_item[1]} 目前無庫存")
        continue

    # 加入購物車
    cart.append(buy_item)
    print(f"===>{buy_item[1]}加入購物車")
    
    # 更新商品數量
    sqlstr=f"update item set qty={buy_item[3]-1} where id={buy_item[0]};"
    print(sqlstr)
    cursor.execute(sqlstr)
    connect.commit()

print("完成購買")
print(cart)

--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:100 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:100 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:100 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
===>macbook air加入購物車
update item set qty=99 where id=1;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:100 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:100 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
****apple iphone 14 pro 目前無庫存
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:100 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:100 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
****apple iphone 14 pro 目前無庫存
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:100 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:100 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
===>asus zenbool 14" notebook加入購物車
update item set qty=99 where id=2;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:100 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
****apple iphone 14 pro 目前無庫存
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:100 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
===>apple iphone 14 pro max加入購物車
update item set qty=99 where id=4;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:99 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:100 備註:128g 8g
--------------------------------------------------
===>apple iphone 14加入購物車
update item set qty=99 where id=5;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:99 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:99 備註:128g 8g
--------------------------------------------------
===>apple iphone 14加入購物車
update item set qty=98 where id=5;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:99 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:98 備註:128g 8g
--------------------------------------------------
===>apple iphone 14 pro max加入購物車
update item set qty=98 where id=4;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:99 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:98 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:98 備註:128g 8g
--------------------------------------------------
===>macbook air加入購物車
update item set qty=98 where id=1;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:98 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:98 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:98 備註:128g 8g
--------------------------------------------------
輸入不正確
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:98 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:98 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:98 備註:128g 8g
--------------------------------------------------
===>apple iphone 14加入購物車
update item set qty=97 where id=5;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:98 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:99 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:98 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:97 備註:128g 8g
--------------------------------------------------
===>asus zenbool 14" notebook加入購物車
update item set qty=98 where id=2;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:98 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:98 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:98 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:97 備註:128g 8g
--------------------------------------------------
===>macbook air加入購物車
update item set qty=97 where id=1;
--------------------------------------------------
1.商品名稱:macbook air 價格:35000.0 數量:97 備註:256ssd 16g
2.商品名稱:asus zenbool 14" notebook 價格:24900.0 數量:98 備註:256g 12g
3.商品名稱:apple iphone 14 pro 價格:35900.0 數量:0 備註:256g 12
4.商品名稱:apple iphone 14 pro max 價格:42900.0 數量:98 備註:512g 16g
5.商品名稱:apple iphone 14 價格:29900.0 數量:97 備註:128g 8g
--------------------------------------------------
完成購買
[(1, 'macbook air', 35000.0, 100, '256ssd 16g', '0000-00-00'), (2, 'asus zenbool 14" notebook', 24900.0, 100, '256g 12g', '0000-00-00'), (4, 'apple iphone 14 pro max', 42900.0, 100, '512g 16g', '0000-00-00'), (5, 'apple iphone 14', 29900.0, 100, '128g 8g', '0000-00-00'), (5, 'apple iphone 14', 29900.0, 99, '128g 8g', '0000-00-00'), (4, 'apple iphone 14 pro max', 42900.0, 99, '512g 16g', '0000-00-00'), (1, 'macbook air', 35000.0, 99, '256ssd 16g', '0000-00-00'), (5, 'apple iphone 14', 29900.0, 98, '128g 8g', '0000-00-00'), (2, 'asus zenbool 14" notebook', 24900.0, 99, '256g 12g', '0000-00-00'), (1, 'macbook air', 35000.0, 98, '256ssd 16g', '0000-00-00')]

### 送訂單
- id
- user_id
- item_id
- created_time

In [145]:
cart

[(1, 'macbook air', 35000.0, 100, '256ssd 16g', '0000-00-00'),
 (2, 'asus zenbool 14" notebook', 24900.0, 100, '256g 12g', '0000-00-00'),
 (4, 'apple iphone 14 pro max', 42900.0, 100, '512g 16g', '0000-00-00'),
 (5, 'apple iphone 14', 29900.0, 100, '128g 8g', '0000-00-00'),
 (5, 'apple iphone 14', 29900.0, 99, '128g 8g', '0000-00-00'),
 (4, 'apple iphone 14 pro max', 42900.0, 99, '512g 16g', '0000-00-00'),
 (1, 'macbook air', 35000.0, 99, '256ssd 16g', '0000-00-00'),
 (5, 'apple iphone 14', 29900.0, 98, '128g 8g', '0000-00-00'),
 (2, 'asus zenbool 14" notebook', 24900.0, 99, '256g 12g', '0000-00-00'),
 (1, 'macbook air', 35000.0, 98, '256ssd 16g', '0000-00-00')]

In [156]:
connect.close

In [157]:
connect=pymysql.connect(
    user='root',
    password='12345678',
    host='127.0.0.1', # localhost
    database='shop',
    port=3306
)

connect

In [158]:
cursor=connect.cursor()
cursor

In [159]:
sqlstr="""
            select * 
            from `order` ;
    """
cursor.execute(sqlstr)
orders=cursor.fetchall()
orders

()

In [160]:
for item in cart:
    print(item)
    sqlstr=f"insert into `order` (user_id,item_id) values({user[0]},{item[0]});"
    print(sqlstr)
    cursor.execute(sqlstr)
    connect.commit
    print("送出訂單!")

(1, 'macbook air', 35000.0, 100, '256ssd 16g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,1);
送出訂單!
(2, 'asus zenbool 14" notebook', 24900.0, 100, '256g 12g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,2);
送出訂單!
(4, 'apple iphone 14 pro max', 42900.0, 100, '512g 16g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,4);
送出訂單!
(5, 'apple iphone 14', 29900.0, 100, '128g 8g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,5);
送出訂單!
(5, 'apple iphone 14', 29900.0, 99, '128g 8g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,5);
送出訂單!
(4, 'apple iphone 14 pro max', 42900.0, 99, '512g 16g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,4);
送出訂單!
(1, 'macbook air', 35000.0, 99, '256ssd 16g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,1);
送出訂單!
(5, 'apple iphone 14', 29900.0, 98, '128g 8g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,5);
送出訂單!
(2, 'asus zenbool 14" notebook', 24900.0, 99, '256g 12g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,2);
送出訂單!
(1, 'macbook air', 35000.0, 98, '256ssd 16g', '0000-00-00')
insert into `order` (user_id,item_id) values(6,1);
送出訂單!

In [161]:
# 找出user

sqlstr="select * from `order` ;"
cursor.execute(sqlstr)
orders=cursor.fetchall()
orders

((0, 6, 1, datetime.date(2024, 8, 24)),
 (0, 6, 2, datetime.date(2024, 8, 24)),
 (0, 6, 4, datetime.date(2024, 8, 24)),
 (0, 6, 5, datetime.date(2024, 8, 24)),
 (0, 6, 5, datetime.date(2024, 8, 24)),
 (0, 6, 4, datetime.date(2024, 8, 24)),
 (0, 6, 1, datetime.date(2024, 8, 24)),
 (0, 6, 5, datetime.date(2024, 8, 24)),
 (0, 6, 2, datetime.date(2024, 8, 24)),
 (0, 6, 1, datetime.date(2024, 8, 24)))

In [162]:
user_id=orders[0][1]
user_id

6

In [163]:
sqlstr=f"select * from user where id={user_id}"
cursor.execute(sqlstr)
user=cursor.fetchone()
user

(6,
 'jjj',
 '12345678',
 'jjj@gmail.com',
 '0977123456',
 'asdasfaddfa',
 datetime.datetime(2024, 8, 24, 11, 55, 49))

In [164]:
sqlstr=f"select item_id from `order` where user_id={user_id}"
cursor.execute(sqlstr)
buy_items=cursor.fetchall()
buy_items

((1,), (2,), (4,), (5,), (5,), (4,), (1,), (5,), (2,), (1,))

In [169]:
print(f"收收穫人:{user[1]}")
print(f"e-mail:{user[3]}")
print(f"電話:{user[4]}")
print(f"地址:{user[5]}")

print("="*50)
total=0
for i,item_id in enumerate(buy_items):
    #print(item_id[0])
    sqlstr = f"select name, price from item where id={item_id[0]};"
    cursor.execute(sqlstr)
    item=cursor.fetchone()
    print(f"{i+1},{item[0]} price:{item[1]}")
    total+=item[1]

print("="*50)
print(f"總計為:{total}")

收收穫人:jjj
e-mail:jjj@gmail.com
電話:0977123456
地址:asdasfaddfa
==================================================
1,macbook air price:35000.0
2,asus zenbool 14" notebook price:24900.0
3,apple iphone 14 pro max price:42900.0
4,apple iphone 14 price:29900.0
5,apple iphone 14 price:29900.0
6,apple iphone 14 pro max price:42900.0
7,macbook air price:35000.0
8,apple iphone 14 price:29900.0
9,asus zenbool 14" notebook price:24900.0
10,macbook air price:35000.0
==================================================
總計為:330300.0

### 將以送出的訂單，增加欄位shipped (Bool => true/false)
- 出貨 => true